.article-management-search-bar {
    text-align: center; /* Размещаем по центру */
    margin-bottom: 20px;
}

.article-management-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 200px;
    width: 300px;
    margin-right: 10px;
    height: 30px;
}

.order-management-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sort-buttons {
    display: flex;
    justify-content: space-around;
}

.sort-buttons-ex {
    width: 200px; /* Задаем одинаковую ширину кнопкам */
    height: 40px; /* Высота кнопок сортировки */
    background-color: black; /* Цвет кнопок сортировки */
    color: white; /* Цвет текста кнопок */
    border: none; /* Убираем рамку */
    cursor: pointer;
}

.create-new-article-button {
    width: 200px;
    height: 40px;
    background-color: #386868; /* Оранжевый цвет */
    color: white;
    border: none;
    cursor: pointer;
}

.create-new-article-button:hover {
    background-color: #426838; /* Оранжевый цвет */
}

.article-table {
    margin-top: 20px;
}

.article-table table {
    width: 100%;
    border-collapse: collapse;
}

.article-table th, .article-table td {
    padding: 8px;
    text-align: center;
}

.article-table th {
    background-color: #dedede;
}

.article-table a {
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: dodgerblue; /* Цвет ссылки */
}

.article-table a:hover {
    color: #0069d9; /* Цвет ссылки при наведении */
}

.delete-article-button {
    background-color: black; /* Цвет кнопок сортировки */
    color: white; /* Цвет текста кнопок */
    border: none; /* Убираем рамку */
    cursor: pointer;
}

/* Добавляем стили для мобильных устройств (ширина меньше 768px) */
@media screen and (max-width: 768px) {
    .sort-buttons-ex, .create-new-article-button {
        width: 150px;
        font-size: 8px;
    }

    .article-table th, .article-table td {
        padding: 0px;
        font-size: 8px;
    }

    .delete-article-button {
        width: auto;
        font-size: 8px;
    }
}