.create-article-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-article-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.create-article-container h3 {
    text-align: center;
    margin-bottom: 20px;
}


.create-article-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.create-article-container .category-checkboxes {
    margin-bottom: 10px;
}

.create-article-container .category-checkboxes label {
    margin-right: 20px;
}

.create-article-container button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.create-article-container button:hover {
    background-color: #333;
}

.category-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.category-checkboxes label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;   /* Hides any overflowing text */
    text-overflow: ellipsis;  /* Displays an ellipsis (...) to indicate text overflow */
}

.category-checkboxes input[type="checkbox"] {
    margin-right: 8px;
}