  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3c3d41;
    padding: 20px 0;
    color: rgba(255,255,255,1.00);
    text-align: center;
  }
  
  .footer p {
    font-size: 12px;
  }
  
  .footer .social-icons {
    margin-top: 15px;
  }
  
  .footer a {
    color: rgba(255,255,255,1.00);
  }
  
  .footer a:hover {
    color: rgba(255,255,255,0.80);
    text-decoration: none;
  }
  
  /* @media (min-width: 768px) {
    .footer {
      border-left: solid 1px rgba(255,255,255,0.10);
    }
  } */

  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding-bottom: 100px; /* высота вашего футера */
  }
  
