.main-content {
  margin-bottom: 140px;
  padding: 24px;
}

table {
  width: 95%; /* Чуть меньше по ширине */
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  font-size: 16px; /* Увеличить размер текста */
}